   .text-dark{
      color: #212529;
    }

    .upload-box {
      width: 150px;
      height: 150px;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #f9f9f9;
      transition: background-color 0.3s;
    }

    .upload-box:hover {
      background-color: #f0f0f0;
    }

    .upload-box input[type="file"] {
      display: none;
    }

    .upload-icon {
      font-size: 24px;
      color: #888;
    }

     
    
    .text-muted{
      color: #43464D;
    }

    .form {
            height: 400px;
            overflow-y: scroll;
        }

    .nav-link.active {
            text-decoration: none;
            color: #1A2FE7 !important;
            border-bottom: 1px solid #1A2FE7;
        }
    