/*Color Style */
    :root {
      /* Brand Colors */
      --primary-dark: #1A2FE7;
      --primary-light: #FFCD4D;

      /* Backgrounds */
      --bg-blue: #E3E6FF;
      --bg-green: #DAFED5;
      --bg-gray: #F6F7F9;
      --bg-yellow: #FFF6DF;

      /* Text Colors */
      --text-dark: #212529;
      --text-primary-dark: #1A2FE7;
      --text-green: #10B260;

      /* Border Colors */
      --border-gray: #D5D5D5;
      --border-green: #10B260;
    }

    /* Background Color Utilities */
    .bg-dgray {
      color: var(--border-gray) !important;
    }

    .bg-primary {
      background-color: var(--primary-dark) !important;
    }
    .text-dark{
      color: #212529;
    }
    .upload-box {
      width: 150px;
      height: 150px;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #f9f9f9;
      transition: background-color 0.3s;
    }
    .upload-box:hover {
      background-color: #f0f0f0;
    }
    .upload-box input[type="file"] {
      display: none;
    }
    .upload-icon {
      font-size: 24px;
      color: #888;
    }

    @media (max-width: 768px) {
     .position-relative,.bi-bell,.profile,.bi-chevron-down{
        display: none;
     }
      .navbar {
    padding-bottom: 0 !important;
     overflow-x: hidden;
    
  }
    footer {
    position: static !important;
  }
  
      
}